<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define sourceFolder="C:\Users\konsu\ANTLRStudio"?>
  <Product Id="*" UpgradeCode="a8179053-35b4-4e7d-a7d0-4e98bb3dfdd2" Version="1.0.0.0" Language="1033" Name="ANTLRStudio" Manufacturer="Marti and Koycho" >
    <Package InstallerVersion="300" Compressed="yes"/>
    <Media Id="1" Cabinet="myapplication.cab" EmbedCab="yes" />
 

    

    <!-- Check for .NET version -->


    <!-- Step  1: Define the directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="ANTLRStudio"/>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="ANTLRStudio"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
      </Directory>
    </Directory>
 <Property Id="JAVA_CURRENT_VERSION">
      <RegistrySearch Id="JRE_KEY" Root="HKLM" Key="SOFTWARE\JavaSoft\Java Runtime Environment" Name="EVersion" Type="raw"  />
    </Property>
    <Condition Message="Java not installed  Please install JRE 1.6 or later."><![CDATA[(Installed OR JAVA_CURRENT_VERSION) AND JAVA_CURRENT_VERSION >= "1.6"]]></Condition>   

    <!-- Step 2: Add files to your installer package -->
    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">

      <Component Id="ANTLRStudio.exe" Guid="5b9d9f14-5065-434d-b5ec-b8cb7ff3f5af">
        <File Id="ANTLRStudio.exe" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\ANTLRStudio.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ANTLRStudio.Diagrams.dll" Guid="a2d7a7ab-bcf7-4e63-9652-7e111e803841">
        <File Id="ANTLRStudio.Diagrams.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\ANTLRStudio.Diagrams.dll" KeyPath="yes"/>
      </Component>
       <Component Id="ANTLRStudio.Diagrams.Example.dll" Guid="db0c5837-10cc-4508-bfbf-db945fcbe85a">
        <File Id="ANTLRStudio.Diagrams.Example.dll" Source="C:\Users\konsu\ANTLRStudio\ANTLRStudio.Diagrams.Example\bin\Debug\ANTLRStudio.Diagrams.Example.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Parser.dll" Guid="1abff314-77e4-4c2a-bb3d-314bf4c31bcf">
        <File Id="Parser.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\Parser.dll" KeyPath="yes"/>
      </Component>
      <Component Id="ANTLRStudio.TreeLayout.dll" Guid="1f257bb3-fc35-4625-bdc0-98a8e8aa5507">
        <File Id="ANTLRStudio.TreeLayout.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\ANTLRStudio.TreeLayout.dll" KeyPath="yes"/>
      </Component>
      <Component Id="ANTLRStuio.Trees.dll" Guid="3bca1834-4540-4f06-b700-4328a446ce9d">
        <File Id="ANTLRStudio.Trees.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\ANTLRStuio.Trees.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Eto.dll" Guid="5d39ad7b-b503-490c-865a-4135718698e9">
        <File Id="Eto.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\Eto.dll" KeyPath="yes"/>
      </Component>
      <Component Id="FSharp.Core.dll" Guid="9d13dc85-d425-466c-9694-be1ce3258a84">
        <File Id="FSharp.Core.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\FSharp.Core.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Eto.Wpf.dll" Guid="4b2dfc22-f0b5-4649-b97c-d8329a5f7d77">
        <File Id="Eto.Wpf.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\Eto.Wpf.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Eto.Gtk3.dll" Guid="a798496b-7a9d-43bd-9a66-2d9c6e53f2b2">
        <File Id="Eto.Gtk3.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\Eto.Gtk3.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Antlr4.Runtime.Standard.dll" Guid="6a87a862-d54f-4609-8a56-08b05d0ca6c5">
        <File Id="Antlr4.Runtime.Standard.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\Antlr4.Runtime.Standard.dll" KeyPath="yes"/>
      </Component>
      <Component Id="System.Runtime.Serialization.Primitives.dll" Guid="2ec292de-36f1-477b-bf06-ab1f3f57840f">
        <File Id="System.Runtime.Serialization.Primitives.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\System.Runtime.Serialization.Primitives.dll" KeyPath="yes"/>
      </Component>
      <Component Id="MyDownloader.Spider.dll" Guid="150a85aa-8f5b-4467-bed6-bfb25292992e">
        <File Id="MyDownloader.Spider.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\MyDownloader.Spider.dll" KeyPath="yes"/>
      </Component>
      <Component Id="MyDownloader.App.dll" Guid="859c7f35-617f-4424-ae77-c18df7e67377">
        <File Id="MyDownloader.App.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\MyDownloader.App.dll" KeyPath="yes"/>
      </Component>
      <Component Id="MyDownloader.Core.dll" Guid="c1f78dc3-b308-4635-bd1e-2ba9d1bf3c53">
        <File Id="MyDownloader.Core.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\MyDownloader.Core.dll" KeyPath="yes"/>
      </Component>
      <Component Id="JSCore.dll" Guid="86a3d1ee-29be-40f1-8247-85c473735653">
        <File Id="JSCore.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\JSCore.dll" KeyPath="yes"/>
      </Component>
      <Component Id="GtkSharp.dll" Guid="ec66125e-cfbe-4604-81d0-dc6a1a46fac2">
        <File Id="GtkSharp.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\GtkSharp.dll" KeyPath="yes"/>
      </Component>
      <Component Id="GioSharp.dll" Guid="3bb40b5d-31eb-490a-b3ff-bd931508eb5d">
        <File Id="GioSharp.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\GioSharp.dll" KeyPath="yes"/>
      </Component>
      <Component Id="GdkSharp.dll" Guid="eef38227-9258-4949-bd3f-5deee035aaf4">
        <File Id="GdkSharp.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\GdkSharp.dll" KeyPath="yes"/>
      </Component>
      <Component Id="GLibSharp.dll" Guid="6c365f30-827c-491c-b430-0d161955cc42">
        <File Id="GLibSharp.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\GLibSharp.dll" KeyPath="yes"/>
      </Component>
      <Component Id="MyDownloader.Extension.dll" Guid="905d06f3-a311-4c2c-82ed-2c2b7a97e4d1">
        <File Id="MyDownloader.Extension.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\MyDownloader.Extension.dll" KeyPath="yes"/>
      </Component>
      <Component Id="ICSharpCode.SharpZipLib.dll" Guid="513d6c5b-4349-4c3b-96d9-9bf85a71a4c2">
        <File Id="ICSharpCode.SharpZipLib.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\ICSharpCode.SharpZipLib.dll" KeyPath="yes"/>
      </Component>
      <Component Id="Eto.Gtk.dll" Guid="de6469f4-abe0-457f-b237-f9bef389baf7">
        <File Id="Eto.Gtk.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\Eto.Gtk.dll" KeyPath="yes"/>
      </Component>
      <Component Id="stdole.dll" Guid="d237c530-eee7-4752-b4b2-649f8e488583">
        <File Id="stdole.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\stdole.dll" KeyPath="yes"/>
      </Component>
      <Component Id="TabStrip.dll" Guid="ba217e2a-e110-48da-af82-4b2cc14c393e">
        <File Id="TabStrip.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\TabStrip.dll" KeyPath="yes"/>
      </Component>
      <Component Id="WebKit.Interop.dll" Guid="f84ea9e4-85bf-4581-acc2-da8a2339e7e2">
        <File Id="WebKit.Interop.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\WebKit.Interop.dll" KeyPath="yes"/>
      </Component>
      <Component Id="OpenWebKitSharp.dll" Guid="645819d3-7de9-47ef-ad14-7b963894adaf">
        <File Id="OpenWebKitSharp.dll" Source="$(var.sourceFolder)\ANTLRStudio\bin\Debug\OpenWebKitSharp.dll" KeyPath="yes"/>
      </Component>



    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="fc3d7151-80e3-4908-9231-e4969616cd89">
        <Shortcut Id="ApplicationStartMenuShortcut"
            Name="ANTLRStudio"
            Target="[#ANTLRStudio.exe]"
            WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\ANTLRStudio" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="cfc5f247-f876-4740-a44d-b589589b4807">
        <Shortcut Id="ApplicationDesktopShortcut"
            Name="ANTLRStudio"
            Target="[#ANTLRStudio.exe]"
            WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="DesktopFolder" On="uninstall"/>
        <RegistryValue
            Root="HKCU"
            Key="Software/ANTLRStudio"
            Name="installed"
            Type="integer"
            Value="1"
            KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Step 3: Tell WiX to install the files -->
    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="ANTLRStudio.exe" />
      <ComponentRef Id="ANTLRStudio.Diagrams.dll" />
      <ComponentRef Id="ANTLRStudio.Diagrams.Example.dll" />
      <ComponentRef Id="ANTLRStuio.Trees.dll" />
      <ComponentRef Id="Parser.dll" />
      <ComponentRef Id="Eto.Wpf.dll" />
      <ComponentRef Id="Eto.Gtk3.dll" />
      <ComponentRef Id="System.Runtime.Serialization.Primitives.dll" />
      <ComponentRef Id="JSCore.dll" />
      <ComponentRef Id="WebKit.Interop.dll" />
      <ComponentRef Id="OpenWebKitSharp.dll" />
      <ComponentRef Id="TabStrip.dll"/>
      <ComponentRef Id="GtkSharp.dll" />
      <ComponentRef Id="stdole.dll" />
      <ComponentRef Id="Eto.Gtk.dll"/>
      <ComponentRef Id="ICSharpCode.SharpZipLib.dll" />
      <ComponentRef Id="GioSharp.dll" />
      <ComponentRef Id="GdkSharp.dll" />
      <ComponentRef Id="GLibSharp.dll" />
      <ComponentRef Id="MyDownloader.App.dll" />
      <ComponentRef Id="MyDownloader.Core.dll" />
      <ComponentRef Id="MyDownloader.Extension.dll" />
      <ComponentRef Id="MyDownloader.Spider.dll" />
      <ComponentRef Id="Antlr4.Runtime.Standard.dll" />
      <ComponentRef Id="Eto.dll" />
      <ComponentRef Id="FSharp.Core.dll" />
      <ComponentRef Id="ANTLRStudio.TreeLayout.dll"/>
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
     
    </Feature>
    <!-- Step 4: Sign the MSI Install, else Web user will get unknown publisher message -->
    <!-- Signing is done by executing a post-build batch file configured in project properties -->

  </Product>
</Wix>
