Source: antlrstudio
Version: 0.9.0
Section: utils
Maintainer: Martin Mirchev <mirchevmartin2203@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.3
Priority: optional
Package: antlrstudio
Section: utils
Priority: optional
Architecture: any
Depends: openjdk-8-jre , mono-runtime (>= 5.0.0) , libgtk2.0-cil (>= 2.12.45)
Description: ANTLRStudio
 A minimalistic IDE for ANTLRv4 Grammars.
 Syntactic Diagrams and Trees
