<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avalonia" version="0.8.1" targetFramework="net461" />
  <package id="Avalonia.Remote.Protocol" version="0.8.1" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="10.3.0" targetFramework="net461" />
  <package id="Serilog" version="2.5.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Debug" version="1.0.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Trace" version="2.1.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net47" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>