<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime" version="4.6.6" targetFramework="net451" />
  <package id="Eto.Forms" version="2.4.1" targetFramework="net451" />
  <package id="Eto.Platform.Gtk2" version="2.4.1" targetFramework="net451" />
  <package id="FSharp.Core" version="4.5.4" targetFramework="net451" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net451" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net451" />
</packages>